@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    text-align: center;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    margin-top: 5rem;
}

.qr-container{
    position: flex;
    flex-direction: column;
    padding: .95rem 1rem;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    max-width: 320px;
    align-items: center;
    border-radius: 1rem;
}

img {
    border-radius: 10px;
    max-width: 100%;
    display: block;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.5rem;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}